<div id="<%= dom_id acao %>">
  <p>
    <strong>Participante:</strong>
    <%= acao.participante_id %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= acao.tipo_id %>
  </p>

  <p>
    <strong>Evento:</strong>
    <%= acao.evento_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= acao.data %>
  </p>

</div>
