<div id="<%= dom_id participante %>">
  <p>
    <strong>Nome:</strong>
    <%= participante.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= participante.cpf %>
  </p>

  <p>
    <strong>Codigo qr:</strong>
    <%= participante.codigo_qr %>
  </p>

  <p>
    <strong>Modalidade:</strong>
    <%= participante.modalidade_id %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= participante.municipio_id %>
  </p>

</div>
